.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
    background-color: lavender;
}

input[type="button"] {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    background-color: ivory;
}

input[type='text'] {
    width: 90%;
    height: 25px;
    margin: 10px;
    text-align: right;
}

input[type='button']:active {
    background-color:blanchedalmond;
  }
.buttons {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.buttons div{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}